.myBox{
    width:350px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    color:black;
    position:fixed;
    top:45%;
    left: 50%;
    z-index: 105;
    animation: myBox 1.5s linear 0s 1 alternate forwards;
}

@keyframes myBox {
    0%{
        transform: translate(-500%,-500%);
    }
    100%{
       transform: translate(-50%,-50%);
    }
}